<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <h2>Sign up</h2>

                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                          <%= render 'shared/devisemessage' %>
                          <div class="form-group">
                               <i class="fa fa-user" aria-hidden="true"></i>
                               <%= f.text_field :fullname, autofocus: true, class: "form-control", placeholder: "Fullname" %>
                          </div>
                          <div class="form-group">
                              <i class="fa fa-envelope" aria-hidden="true"></i>
                               <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
                          </div>
                          <div class="form-group">
                              <i class="fa fa-lock" aria-hidden="true"></i>
                              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
                          </div>
                          <div class="form-group">
                              <i class="fa fa-lock" aria-hidden="true"></i>
                              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password confirmation" %>
                          </div>
                          <div class="actions">
                                <%= f.submit "Sign up", class: "hero-btn form-btn" %>
                          </div>
                    <% end %>
                          <div class="form-footer">
                              <%= link_to "Sign In", new_admin_session_path %>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
