<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <h2>Enter House Information Here</h2>

                        <%= form_for @house do |f| %>
                            <div class="form-group">
                                <%= f.text_field :name, autofocus: true, placeholder: "House name", class: "form-control" %>
                            </div>
                            <div class="form-group">
                                <%= f.text_area :summary, rows: 3,  placeholder: "Describe your house in few words", class: "form-control" %>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :address,  placeholder: "Address: 123 Street name, City, State Zipcode", class: "form-control" %>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <%= f.text_field :bedroom,  placeholder: "How many bedrooms?", class: "form-control" %>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <%= f.text_field :bathroom,  placeholder: "How many bathrooms?", class: "form-control" %>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <%= f.text_field :garage,  placeholder: "How many car garage?", class: "form-control" %>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <%= f.text_field :sf,  placeholder: "What is square footage?", class: "form-control" %>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <%= f.text_field :price,  placeholder: "What is the price?", class: "form-control", id: "exampleInputAmount" %>
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="actions">
                                <%= f.submit "Publish", class: "hero-btn" %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
