<nav class="top-nav">
    <div class="container">
        <div class="logo">
            <%= image_tag "logo1.png", class: "pull-left" %>
        </div>
         <a class="mobile-nav-icon js--nav-icon"><i class="fa fa-th-list" aria-hidden="true"></i></a>
        <ul class="top-nav-links pull-right js--top-nav-links">
            <li><%= link_to "Addison", "#" %></li>
            <li><%= link_to "Adelina", "#" %></li>
            <li><%= link_to "Adrian", "#" %></li>
            <li><%= link_to "Alice", "#" %></li>
            <li><%= link_to "Alma", "#" %></li>
            <li><%= link_to "Andjela", "#" %></li>
        </ul>
    </div>
</nav>
