<nav class="top-nav">
    <div class="container navigation">
        <div class="logo">
            <%= link_to image_tag("logo1.png"), root_path, class: 'pull-left' %>
            <%= link_to image_tag("logo-white.png"), root_path, class: 'pull-left logo-sticky' %>
        </div>
         <a class="mobile-nav-icon js--nav-icon"><i class="fa fa-th-list" aria-hidden="true"></i></a>
        <ul class="top-nav-links pull-right js--top-nav-links">
            <% if admin_signed_in? %>
                <li><%= link_to "Create House", new_house_path %></li>
                <li><%= link_to "Manage Houses", houses_path %></li>
                <li><%= link_to "Admin Account", edit_admin_registration_path %></li>
                <li><%= link_to "Sign Out",destroy_admin_session_path, method: :delete %></li>
            <% else %>
                <% @houses.each do |house| %>
                    <li><%= link_to house.name, house_path(house) %></li>
                <% end %>
            <% end %>
        </ul>
    </div>
</nav>

<script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>
