<div class="container">
    <% @houses.each_slice(2) do |row| %>
        <div class="row">
            <% row.each do |house| %>
                <div class="col-md-6 col-sm-6 house-box">
                    <div class="panel panel-default">
                        <div class="panel-heading house-img">
                            <%= link_to house_path(house) do %>
                                <%= image_tag house.photos[0].image.url(),class: "img-responsive" %>
                                <% end %>
                            <ul class="house-details text-center">
                                <li><%= house.sf %> sf.</li>
                                <li><%= house.bedroom %> bedrooms</li>
                                <li><%= house.bathroom %> bathrooms</li>
                                <li><%= house.garage %> car gar.</li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <ul class="house-name-price-view text-center">
                                <li><%= house.name %></li>
                                <li><%= price_conver house.price %></li>
                                <li>
                                    <%= link_to house_path(house) do %>
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    <% end %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>
