<header>
    <div class="container-outside">
        <div class="row">
            <div class="col-sm-8 col-sm-push-4">
                <%= image_tag "hero2.jpg", class: "img-responsive hero-img" %>
            </div>
            <div class="col-sm-4 col-sm-pull-8">
                <div class="hero-text">
                    <h1>Brand New<br> Homes<br> in Hayward</h1>
                </div>
                <%= link_to "Request a Callback", "#", class: "hero-btn home-btn", :"data-toggle" => "modal", :"data-target" => "#myModal" %>
                <%= render 'message_modal' %>
            </div>
        </div>
    </div>
</header>
<section class="request-calback-section text-center">
    <div class="container">
        <h2>Homes Built For Your Family</h2>
        <%= link_to "Request a Callback", "#", class: "hero-btn", :"data-toggle" => "modal", :"data-target" => "#myModal" %>
    </div>
</section>
<section class="front-page">
    <%= render 'pages/front_page' %>
</section>
<section class="realtor-section">
    <%= render 'pages/realtor-section' %>
</section>
<section class="notice-section">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
            <p>We seek to ensure that all of the data presented on the site regarding new homes and new home communities is current and accurate. However, we do not assume any liability for inaccuracies. It is your responsibility to independently verify the information on the site.</p>
        </div>
    </div>
</section>
